<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="../assets/logobluecolor.png" alt="VirtualBoard Logo">
      <h1 class="headingText">Resize Image</h1>
    </div>
    <div class="col-md-6 image-container">
      <div class="glass">
        <div *ngIf="imgResultAfterCompression"><img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression"
            height="500px" width="500px" /></div>
        <button  class="btn btn-outline-primary" (click)="compressFile()">Upload Image</button>
        <button *ngIf="imgResultAfterCompression" class="btn btn-outline-success m-2" (click)="downloadCompressedImage()">Download Image</button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="imgResultBeforeCompression"><img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" height="400px" width="400px"/></div> -->